.collapseAboutAbout {
    margin: auto;
    width: 70%;
}

.collapseAboutTitle {
    margin-top: 5%;
}

.collapseAboutTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    text-decoration: none;
    height: 50px;
    border-radius: 10px;
    background-color: #ff6060;
    color: white;
    cursor: pointer;
}

h2 {
    font-size: 24px;
    font-weight: 400;
}

.collapseAboutContent {
    margin: auto;
    padding-left: 2%;
    padding-right: 2%;
    color: #ff6060;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    background-color: #F7F7F7;
    line-height: 2.5rem;
}

.collapseAboutTitle :hover,
.active .collapseAboutTitle {
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .collapseAboutTitle {
        width: 95%;
        margin: auto;
    }

    .collapseAboutContent {
        width: 95%;
        margin-bottom: 5%;
    }

    .collapseAboutAbout {
        width: 95%;
        margin: auto;
    }
}