.sliders {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
    border-radius: 25px;
    position: relative;
}

.counter {
    position: absolute;
    color: white;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 23px;
}

.slideImage {
    width: 90%;
    height: 415px;
    border-radius: 25px;
    object-fit: cover;
    z-index: 0;
}

.left {
    position: absolute;
    top: auto;
    left: 5rem;
    font-size: 3rem;
    color: white;
    cursor: pointer;
}

.right {
    position: absolute;
    top: auto;
    right: 5rem;
    font-size: 3rem;
    color: white;
    cursor: pointer;
}

@media only screen and (min-width: 1200px) {
    .left {
        position: absolute;
        top: auto;
        left: 8rem;
        font-size: 3rem;
        color: white;
        cursor: pointer;
    }

    .right {
        position: absolute;
        top: auto;
        right: 8rem;
        font-size: 3rem;
        color: white;
        cursor: pointer;
    }
}

@media only screen and (max-width: 992px) {
    .left {
        left: 3.5rem;
    }

    .right {
        right: 3.5rem;
    }

    .counter {
        display: none;
    }
}


@media only screen and (max-width: 768px) {
    .counter {
        display: none !important;
        visibility: hidden !important;
    }

    .left {
        position: absolute;
        top: auto;
        left: 2.2rem;
        font-size: 3rem;
        color: white;
        cursor: pointer;
    }

    .right {
        position: absolute;
        top: auto;
        right: 2.2rem;
        font-size: 3rem;
        color: white;
        cursor: pointer;
    }

    .slideImage {
        width: 95%;
    }
}